html, body {
    width: 100%;
    font-family: 'Bad Script', cursive;
    color: white;
    background-color: #1C1B1F;
}

a {
    color: #ffffff;
}
a:hover {
    color: #ffffff;
    text-decoration: none;
}

header {
    width: 100%;
    margin-top: 50px;
    min-height: 100px;
    margin-left: 20px;
}

h1 {
    font-weight: normal;
    color: #ffffff;
}

h1.t-large {
    font-size: 2.3em;
}

h1.t-small {
    font-size: 2.3em;
    font-size: 8vw;
}

/**************
 * Background *
 **************/

.background {
    position:fixed;
    top    : 0;
    bottom : -100px;
    left   : -1000px;
    right  : -1000px;

    background: url(../imgs/bg.jpg) no-repeat fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    -webkit-filter : blur(20px);
    -moz-filter    : blur(20px);
    -o-filter      : blur(20px);
    -ms-filter     : blur(20px);
    filter         : blur(20px);
}

/*
.content:before {
  content: "";
  position: fixed;
  z-index: -1;

  display: block;
  background: url(../imgs/bg.jpg) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width:  1200px;
  height:  800px;

  -webkit-filter: blur(5px);
  -moz-filter: blur(5px);
  -o-filter: blur(5px);
  -ms-filter: blur(5px);
  filter: blur(5px);
}
*/

.content {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 0;
  height:auto;
  margin-left: 20px;
  margin-right: 20px;
}

/***********
 * Header *
 **********/

header img#header-img {
    border-radius: 10px;
}

/********
 * Face *
 ********/

div.face-container {
    float: right;
    width: 150px;
}

div.face {
    position:fixed;
    width: 150px;
}

div.face > p {
    font-size: 2em;
    text-transform: uppercase;
}


/***********
 * Buttons *
 ***********/

div.button {
    padding: 2%;
    border-radius: 10px;
}
div.button-image {
    padding: 10px;
    position: relative;
    margin-bottom: 20px;
}
div.button p.button-text {
    font-size: 1em;
    margin-top: 5px;
    margin-bottom: 5px;
}
div.button .new-label {
    display:none;
    position: absolute;
    right: 0;
    bottom: -5px;
}
div.button.new .new-label {
    display: inline;
}

div.button.playing {
    background-color: orange;
    -webkit-animation-name: btnHL; /* Chrome, Safari, Opera */
    -webkit-animation-duration: 2s; /* Chrome, Safari, Opera */
    animation-name: btnHL;
    animation-duration: 2s;
}



/* Chrome, Safari, Opera */
@-webkit-keyframes btnHL {
    from {background-color: white;}
    to {background-color: orange;}
}
/* Standard syntax */
@keyframes btnHL {
    from {background-color: white;}
    to {background-color: orange;}
}
